* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow-y: hidden;
    background: url("img/hs_bg.jpg");
    background-size: cover;
    font-family: 'Bangers', cursive, sans-serif;
    justify-content: center;
}

.board, body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.top-bar {
    padding-bottom: 15px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.top-bar select {
    font-size: inherit;
    font-family: 'Bangers', cursive;
    width: 170px;
}

.top-bar .moves-counter {
    padding-right: 10px;
}

.time-counter {
    display: inline-block;
    width: 45px;
}

.board {
    padding-top: 50px;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 113px;
    height: 113px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    margin-bottom: 15px;
}

.card-front, .card-back, .card, .win-board, .win-board-restart {
    border-radius: 5px;
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(img/card_front.jpg) center/cover;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    background-position: center;
    background-size: cover;
}

.win-board {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 20px;
    width: 540px;
    height: 300px;
    background: url("img/win_board.jpg") center/cover;
    letter-spacing: 0.02em;
    text-align: center;
    display: none;
}

.win-board h1 {
    padding: 30px 0;
}

.win-board-restart {
    background: url(img/button.png) center/cover;
    width: 165px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin: 82px auto 0 auto;
    cursor: pointer;
    user-select: none;
}
















